---
import Layout from '../layouts/Layout.astro';
---
<Layout>
  <main class="page-content">
    <h1>Who We Are</h1>
    <p>We generate revenue, save money, and save time for businesses by implementing easy-to-use automations and integrations that remove constraints and drive growth.<p>
  </main>
</Layout>

<style>
  .page-content {
    padding: 2rem;
    color: #eaeaea;
    max-width: 800px;
    margin: 2rem auto;
    background: rgba(17, 17, 17, 0.85);
    border-radius: 1rem;
  }
</style> 